.register-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
.google-button {
  background-color: #323336;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.google-icon {
  margin-right: 20px;
  font-size: 30px;
}
.register-title {
  color: var(--gray-900, #1E212C);
text-align: center;
font-size:42px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 42px */
margin-bottom: 24px;
}
.register-title-p {
  max-width: 390px;
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 24px;
}
.register {
  width: 50%;
}
.register-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 24px;
  border-radius: 16px;
  width: max-content;
}
.register-text {
  color: var(--primary-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-bottom: 20px;
text-align: start;
}
.register-link{
  color: var(--primary, #FF3F3A);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
@media (max-width: 700px) {
  .register-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .register-title {
  text-align: center;
  font-size: 28px;
  line-height: 150%; 
  margin-bottom: 14px;
  }
  .register-title-p {
    max-width: 390px;
    text-align: center;
    font-size: 14px;
    line-height: 150%; 
    margin-bottom: 24px;
  }
  .register {
    width: 80%;
  }
  .register-btn {
    padding: 12px 24px;
  }
  .register-text {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: start;
  }
  .register-link{
  font-size: 14px;
  line-height: 150%;
  }
}
@media (max-width: 500px) {
  .register-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .register-title {
  text-align: center;
  font-size: 28px;
  line-height: 100%; 
  margin-bottom: 14px;
  }
  .register-title-p {
    max-width: 390px;
    text-align: center;
    font-size: 14px;
    line-height: 150%; 
    margin-bottom: 24px;
  }
  .register {
    width: 90%;
  }
  .register-btn {
    padding: 10px 20px;
  }
  .register-text {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: start;
  }
  .register-link{
  font-size: 14px;
  line-height: 100%;
  }
}