:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text: #0a58ca;
  --bs-secondary-text: #6c757d;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #6c757d;
  --bs-dark-text: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #f8f9fa;
  --bs-success-bg-subtle: #d1e7dd;
  --primary-color: #323336;
}

.admin-navbar {
  background-color: var(--bs-cyan);
  color: var(--bs-gray-100);
}
.admin-navbar-logo-link {
  color: var(--bs-gray-100);
}
.admin-navbar-logo {
  color: var(--bs-gray-100);
  font-size: 50px;
}
.admin-navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.admin-navbar-list {
  display: flex;
  align-items: center;
}
.admin-navbar-item {
  margin-left: 50px;
}
.admin-navbar-item:nth-child(1) {
  margin-left: 0px;
}
.admin-navbar-item-link {
  color: var(--bs-light);
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 600;
}
.admin-navbar-item-link.active {
  color: var(--bs-gray-200);
  font-size: 18px;
  border-bottom: 2px solid var(--bs-gray-200);
}
.admin-navbar-btn {
  color: var(--bs-light);
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 16px;
  background-color: transparent;
  border: 3px solid var(--bs-gray-100);
  font-weight: 600;
}
.admin-navbar-btn:hover {
  color: var(--bs-cyan);
  font-size: 18px;
  background-color: var(--bs-gray-100);
  border: 3px solid var(--bs-gray-100);
  cursor: pointer;
}
@media (max-width: 800px) {
  .admin-navbar-logo {
    font-size: 40px;
  }
  .admin-navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
  .admin-navbar-list {
    display: flex;
    align-items: center;
  }
  .admin-navbar-item {
    margin-left: 30px;
  }
  .admin-navbar-item-link {
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 600;
  }
  .admin-navbar-item-link.active {
    font-size: 18px;
    border-bottom: 2px solid var(--bs-gray-200);
  }
  .admin-navbar-btn {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid var(--bs-gray-100);
  }
}