.faq-inner {
  padding-top: 100px;
}
.faq-title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
}
.accardion {
  padding: 30px;
}

.accardion-typograpy {
  box-shadow: none;
  font-size: 17px;
  font-weight: 900;
  color: #1e1e1e;
}
.accardion-typograpy:hover {
  box-shadow: none;
  font-size: 16px;
  font-weight:500;
  color: #af2c2c;
}
.accardion-text {
  color: #7d7c7c;
  font-weight: 700;
}
@media (max-width: 700px) {
  .faq-inner {
    padding-top: 100px;
  }
  .faq-title {
    text-align: center;
    font-size: 30px;
    width: 70%;
    margin-bottom: 50px;
    margin: 0 auto;
    line-height: 30px;
  }
  .accardion {
    padding: 30px;
  }
  
  .accardion-typograpy {
    font-size: 17px;
  }
}
@media (max-width: 440px) {
  .faq-inner {
    padding-top: 100px;
  }
  .faq-title {
    text-align: center;
    font-size: 26px;
    width: 100%;
    margin-bottom: 50px;
    margin: 0 auto;
    line-height: 30px;
  }
  .accardion {
    padding: 10px;
  }
  
  .accardion-typograpy {
    font-size: 17px;
  }
}