.hero {
  position: relative;
}
.slide {
  width: 100vw;
  position: relative;
}
.hero-box {
  position: absolute;
  top: 30%;
  z-index: 1;
}
.swiper-img {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}
.hero-btn {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 20px;
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 600;
}
.hero-btn span {
  color: #fd7e14;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.hero-title {
  font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 50%;
    margin-bottom: 0px;
}