.contact-hero {
  background-image: url(../../assets/img/property-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contact-hero-inner {
  padding: 150px 0;
  text-align: center;
}
.contact-hero-btn {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
}
.contact-hero-title {
  max-width: 50%;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1060px) {

  .contact-hero-title {
    max-width: 70%;
  }
}
@media (max-width: 870px) {
  .contact-hero-inner {
    padding: 100px 0;
    text-align: center;
  }
  .contact-hero-btn {
    font-size: 14px;
    padding: 7px 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .contact-hero-title {
    max-width: 50%;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 690px) {
  .contact-hero-inner {
    padding: 100px 0;
    text-align: center;
  }
  .contact-hero-btn {
    font-size: 14px;
    padding: 6px 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  .contact-hero-title {
    max-width: 70%;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 690px) {
  .contact-hero-title {
    max-width: 90%;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
  }
}
