.footer {
  margin-top: 150px;
  background-color: #1e1e1e;
}
.footer-inner {
  padding: 100px 0;
}

.footer-text {
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 900px) {
  .footer {
    margin-top: 80px;
    background-color: #1e1e1e;
  }
  .footer-inner {
    padding: 70px 0;
  }
  
  .footer-text {
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
}
