.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item {
  margin-left: 30px;
}
.header-item:nth-child(1) {
  margin-left: 0px;
}
.header-item-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  color: #1e1e1e;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: 0.25px;
}
.header-item-link:hover {
  color: #b8b5b5;
}
.header-item-link.active {
  font-weight: 900;
  border-bottom: #1e1e1e 2px solid;
}
.header-btn {
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  padding-left: 0px;
  border: none;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  border: 2px solid #1e1e1e;
}
.header-btn:hover {
  background-color: #ffffff;
  color: #1e1e1e;
}
.hamburger-header{
  display: none;
}
@media (max-width: 870px) {
  .header {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 50%;
    height: 100%;
    padding-top: 20px;
  }
  .header-extra {
    position: absolute;
    right: 0%;
    top: 0px;
    width: 50%;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 2px 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
  }
  .header-inner {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    display: none;
  }
  .header-box {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header-logo {
    width: 100px;
    height: 40px;
  }
  .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-item {
    margin-left: 30px;
  }
  .header-item:nth-child(1) {
    margin-left: 0px;
  }
  .header-item-link {
    font-size: 15px;
    line-height: 40px;
  }
  .header-btn {
    font-size: 14px;
    text-transform: none;
    border-radius: 20px;
    padding-left: 0px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .hamburger-header {
    font-size: 25px;
    display: block;
    position: absolute;
    left: 80%;
    top: 20px;
  }
}
@media (max-width: 450px) {
  .header-logo {
    width: 80px;
    height: 30px;
  }
  .header-list {
    text-align: end;
  }
  .header-extra {
    position: absolute;
    right: 0%;
    top: 0px;
    width: 70%;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 2px 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding-right: 0px;
  }
  .header-btn {
    font-size: 14px;
    text-transform: none;
    border-radius: 20px;
    padding-left: 0px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .hamburger-header {
    font-size: 20px;
    display: block;
    position: absolute;
    left: 80%;
    top: 20px;
  }
}
