.admin-home-inner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(160, 160, 160, 0.3);
  border-radius: 16px;
  padding: 40px;
  margin-top: 100px;
}
.admin-home-title {
  font-size: 36px !important;
  margin-bottom: 40px !important;
}
.admin-home-box {
  display: flex;
  align-items: center;
}
.admin-home-add-btn {
  padding: 10px 30px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: var(--bs-cyan);
  color: var(--bs-light);
  border: var(--bs-cyan);
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}

.admin-home-add {
  background-color: var(--bs-cyan) !important;
}

.admin-home-title-bottom {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
.admin-home-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px !important;
  text-align: center !important;
  width: 100% !important;
  margin: 100px auto !important;
  box-shadow: 0px 0px 10px 2px rgba(160, 160, 160, 0.3) !important;
  border-radius: 16px !important;
  padding: 40px !important;
}
.admin-home-header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  text-align: center !important;
}
.admin-home-body {
  font-size: 20px !important;
  text-align: center !important;
}
.admin-home-delete {
  font-size: 25px !important;
}
