.feedback-inner {
  padding-top: 150px;
}
.feedback-text {
  color: var(--gray-900, #1e212c);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.feed-box {
  border-radius: 4px;
  background: var(--gray-200, #f4f5f6);
  padding: 64px 105px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.feedback-title {
  color: var(--gray-900, #1e212c);
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 59.8px */
  margin-bottom: 60px;
}
.feedback-slide {
  padding: 50px;
}
.feedback-p {
  color: var(--gray-800, #424551);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.feedback-box {
  display: flex;
  align-items: center;
}
.feedback-box-mini {
  margin-left: 15px;
}
.feed-icon {
  font-size: 50px;
  color: #9c9999;
}
.feedback-p-mini {
  color: var(--gray-900, #1e212c);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 4px;
}
.feedback-p-text {
  color: var(--gray-700, #787a80);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 900px) {
  .feedback-inner {
    padding-top: 100px;
  }
  .feedback-text {
    text-align: center;
    font-size: 16px;
    line-height: 150%; /* 24px */
  }
  .feed-box {
    padding: 64px 105px;
  }
  .feedback-title {
    text-align: center;
    font-size: 40px;
    line-height: 100%; /* 59.8px */
    margin-bottom: 40px;
  }
  .feedback-slide {
    padding: 50px;
  }
  .feedback-p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
  }
  .feedback-box {
    display: flex;
    align-items: center;
  }
  .feedback-box-mini {
    margin-left: 15px;
  }
  .feed-icon {
    font-size: 50px;
  }
  .feedback-p-mini {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 4px;
  }
  .feedback-p-text {
    font-size: 14px;
    line-height: 150%;
  }
}
@media (max-width: 800px) {
  .feedback-inner {
    padding-top: 80px;
  }
  .feedback-text {
    text-align: center;
    font-size: 16px;
    line-height: 100%; /* 24px */
  }
  .feed-box {
    padding: 34px 45px;
  }
  .feedback-title {
    text-align: center;
    font-size: 30px;
    line-height: 100%; /* 59.8px */
    margin-bottom: 20px;
  }
  .feedback-slide {
    padding: 50px;
  }
  .feedback-p {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 24px;
  }
  .feedback-box {
    display: flex;
    align-items: center;
  }
  .feedback-box-mini {
    margin-left: 15px;
  }
  .feed-icon {
    font-size: 50px;
  }
  .feedback-p-mini {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .feedback-p-text {
    font-size: 14px;
    line-height: 100%;
  }
}
@media (max-width: 500px) {
  .feedback-inner {
    padding-top: 40px;
  }
  .feedback-text {
    text-align: center;
    font-size: 16px;
    line-height: 100%; /* 24px */
  }
  .feed-box {
    padding: 24px 35px;
  }
  .feedback-title {
    text-align: center;
    font-size: 26px;
    line-height: 100%; /* 59.8px */
    margin-bottom: 0px;
  }
  .feedback-slide {
    padding: 30px;
  }
  .feedback-p {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 24px;
  }
  .feedback-box {
    display: flex;
    align-items: center;
  }
  .feedback-box-mini {
    margin-left: 15px;
  }
  .feed-icon {
    font-size: 30px;
  }
  .feedback-p-mini {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .feedback-p-text {
    font-size: 14px;
    line-height: 100%;
  }
}
@media (max-width: 400px) {
  .feedback-inner {
    padding-top: 40px;
  }
  .swiper-slide {
    width: 90%;
  }
  .feedback-text {
    text-align: center;
    font-size: 16px;
    line-height: 100%; /* 24px */
  }
  .feed-box {
    padding: 15px;
  }
  .intro-img {
    width: 30px;
    height: 30px;
  }
  .feedback-title {
    text-align: center;
    font-size: 26px;
    line-height: 100%; /* 59.8px */
    margin-bottom: 0px;
  }
  .feedback-slide {
    padding: 30px;
  }
  .feedback-p {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 24px;
  }
  .feedback-box {
    display: flex;
    align-items: center;
  }
  .feedback-box-mini {
    margin-left: 15px;
  }
  .feed-icon {
    font-size: 30px;
  }
  .feedback-p-mini {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
  }
  .feedback-p-text {
    font-size: 14px;
    line-height: 100%;
  }
}