.news-inner {
  padding-top: 100px;
}
.news-box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 70px;
}
.news-box-home-title {
  font-size: 36px;
  font-weight: 600;
  text-align: start;
}
.news-box-input {
  width: 400px;
  margin-left: auto;
  margin-bottom: 0;
}
.news-btn:active {
  color: #fff;
  background-color: #f35525;
}
.news-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.news-item {
 max-width: 330px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.news-item:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.news-img {
  width: 100%;
  border-radius: 10px;
}
.card-box {
  padding: 20px;
}
.card-title {
  color: #1e1e1e;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-text {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 500;
}
.card-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-time {
  font-weight: 600;
  color: #797878;
}
.card-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  padding: 5px 13px;
  border: #000 2px solid;
}
.card-btn:hover {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
}
.card-arrow {
  margin-left: 10px;
  font-size: 20px;
}
.card-bottom-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.card-bottom-item {
  margin-left: 10px;
}
.card-bottom-item:nth-child(1) {
  margin-left: 0px;
}
.card-page {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
}
.card-page-unactive {
  background-color: #C6C6C6;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
}
.card-page:hover {
  background-color: #000;
  color: #fd7e14;
}
.card-page:active {
  background-color: #f35525;
  color: #ffffff;
}

@media (max-width: 1070px) {
  .news-item {
    width: 330px;
  }
}
@media (max-width: 900px) {
  .news-inner {
    padding-top: 80px;
  }
  .news-item {
    width: 330px;
  }
  .news-box {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  .news-box-home-title {
    font-size: 26px;
    font-weight: 600;
    text-align: start;
  }
  .news-box-input {
    width: 300px;
    margin-left: auto;
  }
  .card-title {
    font-size: 20px;
    margin-top: 0;
  }
  .card-page {
    font-size: 15px;
    padding: 10px;
  }
  .card-page-unactive {
    font-size: 15px;
    padding: 10px;
  }
  .card-bottom-list {
    margin-top: 40px;
  }
}
@media (max-width: 650px) {
  .news-inner {
    padding-top: 80px;
  }
  .news-btn {
    padding: 8px 12px;
  }
  .news-item {
    width: 330px;
  }
  .card-btn {
    padding: 4px 8px;
    font-size: 14px;
  }
  .news-box {
    margin-bottom: 0px;
  }
  .news-box-home-title {
    font-size: 26px;
    font-weight: 600;
    text-align: start;
  }
  .news-box-input {
    width: 200px;
    margin-left: auto;
  }
  .card-arrow {
    font-size: 15px;
  }
  .news-box {
    margin-bottom: 40px;
  }
  .card-title {
    font-size: 20px;
    margin-top: 0;
  }
  .card-page {
    font-size: 15px;
    padding: 10px;
  }
  .card-bottom-list {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .news-inner {
    padding-top: 80px;
  }
  .news-btn {
    width: 40%;
    padding: 8px 12px;
  }
  .news-item {
    width: 330px;
  }
  .card-btn {
    padding: 4px 8px;
    font-size: 14px;
  }
  .card-arrow {
    font-size: 15px;
  }
  .card-title {
    font-size: 20px;
    margin-top: 0;
  }
  .card-page {
    font-size: 15px;
    padding: 10px;
  }
  .card-bottom-list {
    margin-top: 40px;
  }
}
@media (max-width: 420px) {
  .news-inner {
    padding-top: 60px;
  }
  .news-btn {
    width: 100%;
    padding: 8px 12px;
    margin-left: 0;
  }
  .news-box {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news-box-home-title {
    font-size: 26px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 40px;
  }
  .news-box-input {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .news-item {
    width: 90%;
  }
  .card-btn {
    padding: 4px 8px;
    font-size: 14px;
  }
  .card-arrow {
    font-size: 15px;
  }
  .card-text {
    font-size: 14px;
  }
}
