.news-inner {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-box {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.news-btn {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all 0.3s;
  margin-left: 20px;
}
.news-btn:hover {
  color: #fd7e14;
}
.news-btn:active {
  color: #fff;
  background-color: #f35525;
}
.news-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.news-item {
  width: 28%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.news-img {
  border-radius: 10px;
}
.card-box {
  padding: 20px;
}
.card-title {
  color: #1e1e1e;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-text {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 500;
}
.card-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-time {
  font-weight: 600;
  color: #797878;
}
.card-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  padding: 5px 13px;
  border: #000 2px solid;
}
.card-btn:hover {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
}
.card-arrow {
  margin-left: 10px;
  font-size: 20px;
}
.card-bottom-list {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.card-bottom-item {
margin-left: 10px;
}
.card-bottom-item:nth-child(1) {
  margin-left: 0px;
  }
.card-page {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
}
.card-page:hover {
  background-color: #000;
  color: #fd7e14;
}
.card-page:active {
  background-color: #f35525;
  color: #ffffff;
}
